<h6>Available Lenses</h6>
<div class="row">
  <div class="input-field col l3 searchContainer">
    <input id="searchbox"type="text" placeholder="Search Brand" [(ngModel)]='searchFilter'>
  </div>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th data-field="datePost">Date Posted</th>
      <th>Images</th>
      <th data-field="brand">Brand</th>
      <th data-field="type">Type</th>
      <th data-field="fLength">Focal Length (mm)</th>
      <th data-field="description">Description</th>
      <th data-field="location">Location</th>
      <th data-field="price">Price Per Day</th>
      <th data-field="rating">Ratings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='#lens of lenses | lensFilter:searchFilter'>
      <td>{{lens.datePosted}}</td>
      <td class="lens-images">
        <img [src]='lens.imageUrl'
             [title]='lens.brand'
             [style.width.px]='imgWidth'
             [style.margin.px]='imgMargin'>
      </td>
      <td>{{lens.brand}}</td>
      <td>{{lens.type}}</td>
      <td>{{lens.fLength}}</td>
      <td>{{lens.description}}</td>
      <td>{{lens.location}}</td>
      <td>{{lens.price | currency:'USD':true:'2.2-2'}}</td>
      <td><thumb-icon [rating]='lens.rating'></thumb-icon></td>
    </tr>
  </tbody>
</table>
