<div class="crop"
    [style.width.px]="thumbsWidth"
    [title]="rating">
    <div style="width: 86px">
        <!-- <i class="tiny material-icons">thumb_up</i>
        <i class="tiny material-icons">thumb_up</i>
        <i class="tiny material-icons">thumb_up</i>
        <i class="tiny material-icons">thumb_up</i>
        <i class="tiny material-icons">thumb_up</i> -->
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>

                <span class="glyphicon glyphicon-thumbs-up"></span>

                <span class="glyphicon glyphicon-thumbs-up"></span>

                <span class="glyphicon glyphicon-thumbs-up"></span>

    </div>
</div>
